@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


                                     /*-----------------------links/footer---------------------*/
ul{
    margin: 0 auto;
    padding: 0;
}

ul li{
    display: inline;
    font-size: 120%;
    margin-left: 15px;
    margin-right: 15px;
}

ul li i{
    color: purple;
    transition: color 0.5s ease-in-out;
}

ul li i:hover{
    color: orangered;
}

.footer {
  position: relative;
  height: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.btn-link{
    color: purple;
    padding-left: 0px;
}

.btn-link:hover{
    color: orangered;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

strong{
    color: orangered;
}

ol{
    padding-left: 5%;
}
                                /*--------------------------------navbar-------------------------------*/
.navbar{
    width: 90%;
    margin: auto;
}

.navbar .nav-item .nav-link{
    color:purple;
    text-align: right;
}

.navbar .nav-item .nav-link:hover{
    color: orangered;
    transition: color 0.5s ease-in-out;
}

.navbar .navbar-toggler icon{
    color:purple;
}

.navbar .navbar-brand{
    color: purple;
    margin-left: 10%;
}

@media only screen and (max-width: 600px) {
   .navbar .navbar-brand{
    margin-left: 0;
  }
}

.navbar .navbar-brand:hover{
    color: orangered;
    transition: color 0.5s ease-in-out;
}
                                        /*-----------------sections------------------*/
#races{
    height: 90%;
}

#selector{
    height: 90%;
    background-color: white;
}

#checklist{
    background-color:white;
    height: 90%;
    width: 90%;
    margin: auto;
}

#equipment{
    background-color:white;
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
   #equipment{
    width:100%;
  }
}

#cycle{
    height: 90%;
}

#run{
    height: 90%;
}

#center{
    width :90%;
    margin: auto;
}

h4{
    text-align: center;
    margin-bottom: 2%;
    color: orangered;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
   h4{
    margin-bottom: 4%;
  }
}

input{
    margin-bottom: 3%;
}

label{
    margin-bottom: 0px;
}

#name{
    margin-top: 3%;
}
                                        /*------------------table--------------------*/
@media only screen and (max-width: 600px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
}

thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
	}
	
tr { border: 1px solid #ccc; }
	
td { 
	border: none;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 50%;
    text-align: right;	
	}

td:before { 
	position: absolute;
	top: 10px;
    left: 0px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
    text-align: left;
	}
	
td:nth-of-type(1):before { content: "Event Name"; }
	td:nth-of-type(2):before { content: "Event Type"; }
	td:nth-of-type(3):before { content: "Location"; }
	td:nth-of-type(4):before { content: "Swim Time"; }
	td:nth-of-type(5):before { content: "Cycle Time"; }
	td:nth-of-type(6):before { content: "Run Time"; }
}    



