body{
    background-color: seashell;
    margin: 0;
    padding: 0;
}

#races{
    height: 50vh;
}


#checklist{
    height: 50vh;
}

ul{
    margin: 0 auto;
    padding: 0;
}

ul li{
    display: inline;
    font-size: 120%;
    margin-left: 15px;
    margin-right: 15px;
}

ul li i{
    color:  red;
    transition: color 0.5s ease-in-out;
}

ul li i:hover{
    color: green;
}

.navbar .nav-item .nav-link{
    color:red;
    text-align: right;
}

.navbar .nav-item .nav-link:hover{
    color: green;
    transition: color 0.5s ease-in-out;
}

.navbar .navbar-toggler icon{
    color:red;
}

#selector{
    height: 80vh;
    background-color: seashell;
}

#swim{
    background-color:slategray;
    height: 70vh;
}

#cycle{
    height: 70vh;
}

#run{
    height: 70vh;
}

