{% extends "base.html" %}
{% block content %}
<div id="center">
<h4>Notes</h4>
	<form action="{{ url_for('update_blog', blog_id=blog._id)}}" method="POST">
		<div class="form-group">
			<label for="blog_title">Title</label>
			<input id="blog_title" name="blog_title" class="form-control" type="text" maxlength="30" value="{{blog.blog_title}}">
			<label for="blog_content">Content</label>
			<textarea class="form-control" id="blog_content" name="blog_content" rows="5" maxlength="300">{{blog.blog_content}}</textarea>
		</div>
		<button type="submit" class="btn btn-outline-secondary">Edit Note</button>
	</form>
</div>
{% endblock %}