{% extends 'base.html' %}
{% block content %}
<div id="selector" class="container-fluid">
	<h4>Edit Recorded Event</h4>
	<div class="row">
		<div id="center" class="col-md-8">
			<form action="{{ url_for('update_eventlist', events_id=events._id)}}" method="POST">
				<div class="form-group">
					<select class="form-control" id="types" name="discipline_type">
                        {% for type in types %}
                            {% if type.discipline_type == type.discipline_type %}
                            <option value="{{ type.discipline_type }}" selected>{{ type.discipline_type }}</option>
                            {% else %}
                            <option value="{{ type.discipline_type }}">{{ type.discipline_type }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
					<label for="name">Event Name</label>
					<input class="form-control" type="text" id="name" name="name" value="{{events.name}}">
					<label for="location">County Location</label>
					<input class="form-control" type="text" id="location" name="location" value="{{events.location}}">
					<label for="date">Date</label>
					<input type="date" id="date" name="date" class="form-control" value="{{events.date}}">
					<label for="swim_time">Swim Time</label>
					<input class="form-control" type="text" id="swim_time" name="swim_time" value="{{events.swim_time}}">
					<label for="cycle_time">Cycle Time</label>
					<input class="form-control" type="text" id="cycle_time" name="cycle_time" value="{{events.cycle_time}}">
					<label for="run_time">Run Time</label>
					<input class="form-control" type="text" id="run_time" name="run_time" value="{{events.run_time}}">
                    </div>
					<div class="form-row">
					</div>
					<button type="submit" class="btn btn-outline-secondary">Edit Event</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}