{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="equipment">

        <h4><strong>The Must-Have Triathlon List:</strong></h4>
        <ol>
        <li><strong>Wear your triathlon clothing and shoes</strong>. For many, we simply recommend wearing your tri shorts and your tri top or shirt to the race. 
        You will also wear your running shoes and socks (if you use socks).Your running shoes will preferably have speed laces, if you have trained with them, but remember nothing new on race day.
        Keep in mind you will likely get a shirt at the race This is nice to change in to after you are done racing.</li><br>
        <li><strong>Bike.</strong> This might seem obvious, but people have forgotten bikes before. We recommend giving it a very brief, 1-block test ride the night before to make sure there are no surprises
        — a loose seat stem or leaky bike tire can be fixed before you get to the race.Pump your tires up to the desired pressure before you leave home.</li><br>
        <li><strong>Bike Shoes</strong>. If you use clipped or SPD bike shoes on the bike, don’t forget them.</li><br>
        <li><strong>Swim Goggles</strong>. We recommend a brand new pair.Using new swim goggles in your race will help reduce the glare if the sun is out. But be sure to buy a model you have used before, and test them out before the race.</li><br>
        <li><strong>Wetsuit</strong>, if needed. If you are using a wetsuit for your tri, don’t forget it. Make sure you have used it before race day.</li><br>
        <li><strong>Bike helmet</strong>. Any race using that USAT rules (which is most of them) require you to wear a bike helmet on the ride. It is not optional…. and it is smart.</li><br>
        <li><strong>Sunglasses</strong> For safety, you want to have shades on the ride to protect your eyes form bugs or debris, even if it is not a sunny day.
        Keep the sunglasses inside your bike helmet so you remember to put them on during T1.</li><br>
        <li><strong>ID</strong>. Some races require an ID at check-in. To be safe, make sure you have yours along.</li><br>
        <li><strong>Water / Hydration</strong>. Always have some water. You never know how long you will be waiting for your heat to begin, and you do not want to be dehydrated. If you trained with gatorade or another sport drink, bring that as well.</li><br>
        <li><strong>Nutrition</strong> This is race and racer-specific, but we always like to carry some cliff bars and bananas in our bag, just to be safe (ideally, something you have already used during your training).
        Maybe you like gel shots, make sure you bring a few. We’re not telling you what to eat in this article, we’re just saying don’t forget it.</li><br>
        <li>Your <strong>race packet</strong>, if check-in was the day before the race. If you are to check-in on the race morning, disregard this one.</li><br>
        <li><strong>Transition Bag</strong>. &nbsp;By this point, you have probably figured out that all this stuff should go in a bag. While some buy specific triathlon transition bags for the sport, others, simply clear out their gym bag and use that. 
        It is all a matter of budget and priority.</li><br>
        <li><strong>Spare Tube, CO2, and Tire Changing Supplies.</strong>Some people feel that if they get a flat on the bike course, they will just walk back or drop out of the race. Not us! We think you should carry whatever supplies you would carry on a normal ride.
        Get a flat? Fix it, lose a few minutes, and keep riding! You don’t need to bring your entire gear kit, just what you would bring along on a good training ride.</li><br>
        </ol>
        <h4><strong>Nice-to-Have Triathlon List</strong></h4>
        <ol>
        <li><strong>Towel</strong>. Many racers like to have towels handy to dry off after the swim – primarily to help dry the feet. Some like a towel with a bright color as it can serve as an easy-to-spot marker for your transition spot.
        Towels can have an added benefit of giving you something to drape around yourself if you want to change before or after the race.</li><br>
        <li><strong>Sport Guard</strong>, or similar product. This is a roll-on product that helps prevent chafing. Such products are usually advertised at “anti-chafe” cream or roll-on.
        Sport guard can be critical in longer races, but also helps your wetsuit come off easier if you apply it to your ankles before the swim.</li><br>
        <li><strong>Bug Spray</strong>. In some races, bugs or water-borne gnats can be an issue, causing Swimmers Itch. Good idea to have some bug spray as it will keep them away.</li><br>
        <li><strong>Sunscreen</strong>. If you will still be racing after about 10am, it is a good idea to apply some sunscreen, especially to the head and neck.</li><br>
        <li><strong>Bike tire pump</strong>. While some races have a bike tire pump for public use, we like to have one in the car just in case of surprises. Plus, it is nice to use the pump that you are familiar with,
        especially on race day. We just keep it in our car and pump the tires as soon as we arrive at the race, before we put our bike in the transition area. Remember to always check your tires, even if you pumped them the day before.</li><br>
        <li><strong>Bike wrench</strong>. Good idea to have some basic bike repair equipment along. Again, this does not go on the ride with you, but is there for pre-race adjustments. 
        If you forget, don’t fret — at many races there are staff from a local bike or tri shop to help with last-minute adjustments. Make sure your pedals, aerobars, and those all important cleats are nice and tight — but not so tight you break something!</li><br>
        <li><strong>2<sup>nd</sup> pair of socks</strong>. You never know if the first pair gets soaking wet for some reason.</li><br>
        <li><strong>GPS Watch</strong>. Many triathletes choose to use a watch made specifically for triathlons. It can be worn during all three legs of the race. If you use a GPS watch like a Garmin watch that is not suited for swimming, 
        have it ready in your Transition 1 so you do not spend frustrating minutes calibrating while you are going full-speed. If you rely on your Fitbit for key pacing information, don’t forget it either.</li><br>
        <li><strong>Race Belt</strong>. You can simply pin your number on to your shirt. You can race without a belt, but it is nice to have one.races provide pins but a race belt it a much smoother way to do it.</li><br>
        <li><strong>Visor</strong> or hat…. If you use one.</li><br>
        <li><strong>Outerwear.</strong>&nbsp; For fall or rainy-day races, bring the right gear to keep you dry and warm before or after the race.</li><br>
        <li><strong>Change of Clothes</strong>. While it is often fine just to wear your race clothes all day, many will want a change of clothes with them. You might also want long-sleeved gear with you if the race is on a colder morning, gear you would then remove before the race.</li><br>
        <li><strong>Sandals.</strong>&nbsp; Some racers prefer sandals to wear before the race, as they might want to have their shoes setup in the transition area, and walking in dew-filled grass might make the shoes damp prior to the race.</li>
        </ol>
</div>
        {% endblock %}