{% extends "base.html" %}
{% block content %}
<div id="races" class="col">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Name</th>
				<th scope="col">Event Type</th>
				<th scope="col">Location</th>
			</tr>
		</thead>
		{% for type in events %}
		<tbody>
			<tr>
				<th>{{type.date}}</th>
				<td>{{type.name}}</td>
				<td>{{type.discipline_type}}</td>
				<td>{{type.location}}</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>

{% endblock %}