{% extends "base.html" %}
{% block content %}
<div id="races" class="col">
   
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date y-m-d</th>
				<th scope="col">Name</th>
				<th scope="col">Event Type</th>
				<th scope="col">Location</th>
                <th scope="col">Swim Time</th>
                <th scope="col">Cycle Time</th>
                <th scope="col">Run Time</th>
                <th scope="col">Enter</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
			</tr>
		</thead>
		{% for type in events %}
		<tbody>
			<tr>
				<th>{{type.date}}</th>
				<td>{{type.name}}</td>
				<td>{{type.discipline_type}}</td>
				<td>{{type.location}}</td>
                <td>{{type.swim_time}}</td>
                <td>{{type.cycle_time}}</td>
                <td>{{type.run_time}}</td>
                <td><button type="button" class="btn btn-outline-success">Success</button></td>
                <td><a href="{{url_for('edit_eventlist', events_id=type._id)}}"><button type="button" class="btn btn-outline-secondary">Secondary</button></a></td>
                <td><a href="{{url_for('delete_events', events_id=type._id)}}"><button type="button" class="btn btn-outline-danger">Danger</button></a></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
  
</div>

{% endblock %}