{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div id="checklist" class="col">
		</div>
	</div>
	<div class="row">
		<div id="races" class="col-md-6">
		</div>
		<div id="disciplines" class="col-md-6">
			<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{url_for('static', filename='css/images/swim.jpg')}}" class="d-block w-100" alt="athlete swimming">
						<div class="carousel-caption d-none d-md-block">
						</div>
					</div>
					<div class="carousel-item">
						<img src="{{url_for('static', filename='css/images/bike.jpg')}}" class="d-block w-100" alt="athlete cycling">
						<div class="carousel-caption d-none d-md-block">
						</div>
					</div>
					<div class="carousel-item">
						<img src="{{url_for('static', filename='css/images/run.jpg')}}" class="d-block w-100" alt="athlete running">
						<div class="carousel-caption d-none d-md-block">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}